/.idea/
/.vscode/
/runs/
/build/
/dist/
/logs/
/app.log
/.idea/subtitle-ocr.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/encodings.xml
/__pycache__
/utils/__pycache__
/test/result.jpg
/test/runs/
